.restoraunt-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: flex-start;
    grid-row-gap: 1.5rem;
    margin: 1rem 0;
}